@model IEnumerable<HotelManagementCoreMvcFrontend.Models.Booking>
@{
    var BookingSuccesfulMessage = TempData["BookingSuccesful"] as string;
}
<h3>Bookings</h3>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h4>@ViewBag.Message</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="table-heading">Check-In Date</th>
                <th class="table-heading">Check-Out Date</th>
                <th class="table-heading">Status</th>
                <th class="table-heading">Room No</th>
                <th class="table-heading">Hotel Name</th>
                <th class="table-heading">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@String.Format("{0:MM/dd/yyyy}", booking.CheckInDate)</td>
                    <td>@String.Format("{0:MM/dd/yyyy}", booking.CheckOutDate)</td>
                    <td class="status-green">@booking.Status</td>
                    <td>@booking.RoomNo</td>
                    <td>@booking.HotelName</td>
                    <td>
                        @Html.ActionLink("Give Feedback", "SubmitFeedback", "Feedback", new { id = booking.Id }, new { @class = "btn btn-warning btn-sm me-2" })
                        <form asp-action="Delete" asp-route-id="@booking.Id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to cancel this booking of room no @booking.RoomNo?');">
                            <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(BookingSuccesfulMessage))
{
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast align-items-center text-bg-success border-0" id="loginToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @BookingSuccesfulMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<script>
    window.onload = function () {
        var toastEl = document.getElementById('loginToast');
        if (toastEl) {
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        }
    };
</script>

<style>
    .table-heading {
        color: black;
    }

    .status-green {
        color: green;
    }

    .btn-sm {
        margin-right: 5px; 
    }
</style>
