@model IEnumerable<HotelManagementCoreMvcFrontend.Models.Hotel>

@{
    ViewData["Title"] = "Hotel List";
}

<h3>Hotels List</h3>
<table class="table" id="HotelTable">
    <thead>
        <tr>
            <th>Hotel</th>
            <th>Address</th>
            <th>Phone No</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HotelName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNo)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.HotelImage))
                    {
                        <img src="@Url.Content($"~{item.HotelImage}")" class="img-thumbnail" width="80" />
                    }
                </td>
                <td>
                  
                    @Html.ActionLink("View Rooms", "GetRoomsByHotel", "Room", new { hotelId = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#HotelTable').DataTable({
                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50],
                "columnDefs": [
                    { "orderable": false, "targets": [-2, -1] }
                ],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });
        });
    </script>
}